.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 170px;
}

.work_header {
  display: flex;
}
.work_header h1 {
  font-size: 60px;
  font-weight: 550;
  margin-left: 170px;
}

.work_header img {
  position: relative;
  right: 200px;
  top: 10px;
  z-index: -1;
}
.image_container {
  display: grid;
  margin: 80px 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.image_container img {
  width: 300px;
}

.image_container .images {
  transition: 1.1s;
}
.image_container .images:hover {
  border-color: blue;
  cursor: pointer;
  border: 6px solid purple;
  border-radius: 13px;
  transform: scale(1.1);
}
.button {
  display: flex;
  gap: 20px;
  border: 4px solid white;
  border-radius: 50px;
  padding: 30px 30px;
  margin-bottom: 30px;
}
.button :hover {
  padding-right: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.button p {
  font-size: 20px;
}
@media (max-width: 768px) {
  .work {
    margin: 50px 20px;
    display: flex;
    align-items: start;
  }
  .work h1 {
    font-size: 30px;
    text-align: center;
  }
  .work .work_header img {
    width: 100px;
    position: relative;
    right: 80px;
  }
  .image_container {
    grid-template-columns: 1fr;
    grid-gap: 60px;
    margin-left: 30px;
  }
  .image_container img {
    width: 360px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 20px;
  }
  .button p {
    font-size: 10px;
  }
  .button img {
    width: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /*  */
  .work {
    margin: 50px 20px;
    display: flex;
    align-items: start;
  }

  .work .work_header {
    display: flex;
  }
  .work_header h1 {
    font-size: 50px;
  }

  .work_header img {
    width: 180px;
    position: relative;
    right: 150px;
  }
  .image_container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-left: 30px;
  }
  .image_container img {
    width: 300px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 200px;
  }
  .button p {
    font-size: 10px;
  }
  .button img {
    width: 20px;
  }
}
